.catalog-item {
    display: inline-flex;
    max-width: 190px;
    padding: 15px 20px;
    margin: 10px;
    background-color: #f7f7f7;
    border-radius: 4px;
    box-shadow: 0 0 20px 1px grey;
    text-align: center;
}
.catalog-item .bigger{
    font-size: 120%;
}

.catalog-item a {
    width: 100%;
}

.catalog-item span {
    overflow-wrap: break-word;
}

.catalog-item span.name {
    font-weight: bold;
}

.catalog-item img{
    width: 150px;
}

#main-container {
    text-align: center;
}
