#toolPreview
{
    padding: 10px;
    width: 100%;
    box-shadow: 3 3 2px grey;
    background-color: #F6F6F6;
}
#toolPreview div
{
    width: 80%;
    margin: auto;
    text-align: center;
}
#toolName
{
    text-align: center;
}