<div id="footer">
    <ul class="list-unstyled text-center">
        <li><a href="https://vk.com/arenda_tut">Новости</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Условия аренды</a></li>
        <li><a href="#">О нас</a></li>
    </ul>
    <h3><a href="#">8(888)-888-88-88</a></h3>
</div>
<section id="popupContainer"></section>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
