<body xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<nav id="nav-mobile" class="hide-for-desktop">
    <div>
        <nav class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Каталог
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:each="cat:${session.categories}"
                   th:href="@{'/catalog?cat=' + ${cat.id}}"
                   th:text="${cat.name}"></a>
            </div>
        </nav>
    </div>
    <div class="nav float-right">
        <a href="#" class="nav-link"><i class="fas fa-phone"></i></a>
        <a href="/settings" class="nav-link"><i class="fas fa-user"></i></a>
        <a href="/order/cart" class="nav-link"><i class="fas fa-shopping-cart"></i></a>
    </div>
</nav>
<div id="nav-search hide-for-desktop">
    <div class="input-group input-group-sm hide-for-desktop">
        <div class="input-group-append">
            <a href="#" class="nav-link input-group-text"><i class="fas fa-search"></i></a>
        </div>
        <input type="text" class="form-control" placeholder="Поиск">
    </div>
</div>
<div id="nav-top" class="show-for-desktop text-center">Аренда строительного инструмента и оборудования</div>
<section id="first-container">
    <div id="nav-first" class="row show-for-desktop">
        <div>
            <i class="fas fa-map-marker-alt"></i> Наш город: <a href="#"> Санкт-Петербург</a>
        </div>
        <div>
            <a href="#"> Пункты выдачи</a>
        </div>
        <ul class="float-right list-unstyled list-inline">
            <li class="list-inline-item"><a href="#">Условия аренды</a></li>
            <li class="list-inline-item"><a href="#">Доставка</a></li>
            <li class="list-inline-item"><a href="#">О нас</a></li>
        </ul>
    </div>
</section>
<hr>
<section id='second-container'>
    <div id="nav-second" class="row show-for-desktop">
        <div>
            <a href="/"><img src="/imgs/logo.png" class="img-responsive"></a>
        </div>
        <div>
            <pre>
    Быстрая досавка
        готовых решений!
            </pre>
        </div>
        <div>
            <a href="#"><h5>+7 (499) 427-08-00</h5></a>
            <pre>
    пн.-пт. 9:00-19:00
    сб. 9:00-18:00
            </pre>
        </div>
        <div th:if="${session.username == null}">
            <i class="fas fa-user fa-2x"></i><a th:href="@{/login}"> Вход</a> | <a
                th:href="@{/registration}">Регистрация</a>
        </div>
        <div th:if="${session.username != null}">
            <i class="fas fa-user fa-2x"></i><a th:href="@{/logout}"> Выход</a> | <a
                th:href="@{/settings}">Настройки</a>
        </div>
    </div>
</section>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if it IE9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>Аренда оборудования</title>
</head>
<section id='third-container' class="show-for-desktop">
    <div>
        <div id="nav-third" class="show-for-desktop">
            <div class="catalog"><i class="fas fa-bars"></i> Каталог товаров</div>
            <div id="catalog" class="show-for-desktop">
                <ul class="list-unstyled">
                    <li th:each="cat:${session.categories}">
                        <a th:href="@{'/catalog?cat=' + ${cat.id}}">
                            <i class="fas fa-tools"> </i>
                            <th:block th:text="${cat.name}"></th:block>
                        </a>
                    </li>
                </ul>
            </div>
            <span><i class="fas fa-percent"></i><a href="#"> Акции  </a></span>
            <div class="input-group input-group-sm show-for-desktop">
                <input type="text" class="form-control" placeholder="Что вы хотите взять в аренду?">
                <div class="input-group-append">
                    <a href="#" class="nav-link input-group-text"><i class="fas fa-search"></i></a>
                </div>
            </div>
            <span>
                <i class="fas fa-shopping-cart"></i>
                <a th:href="@{/order/cart}"> Товаров в корзине:</a>
                <span th:if="${session.order != null}" class='cart'
                      th:text="${#lists.size(session.order.uniqTools)}">нет товаров</span>
            </span>
        </div>
    </div>
</section>
