<div id="main-banner">
    <div class="wrapper">
        <ul class="list-unstyled list-inline">
            <li><a href="#">
                <img class='img-responsive' src="/imgs/landscape-02.jpg">
            </a></li>
            <li><a href="#">
                <img src="/imgs/landscape-03.jpg">
            </a></li>
            <li><a href="#">
                <img src="/imgs/landscape-04.jpg">
            </a></li>
            <li><a href="#">
                <img src="/imgs/landscape-05.jpg">
            </a></li>
        </ul>
    </div>
</div>
<ul class="banner-btns"></ul>