<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="_header"></th:block>
<h2 class="my-2">Панель админа</h2>
<div class="row container" style="margin: auto">
    <div id="tree" class="col-md-4"></div>
    <section id="main-container" class="col-md-8">
        <div class="my-2">
            <a th:href="@{/admin/orders}" class="btn btn-primary">Заказы</a>
        </div>
        <strong>Текущяя категория: {{currCategory.text}}</strong>
        <div class="my-2">
            <button class="btn btn-danger" @click="deleteCategory">Удалить</button>
            <button class="btn btn-primary" @click="addSubCategory">Добавить подкатегорию</button>
        </div>
        <div>
            <form>
                <input type="text" v-model="newCategoryName" placeholder="Новое имя" required>
                <button class="btn btn-primary" type="submit" @click="renameCategory">Переименовать</button>
            </form>
            <form>
                <textarea type="text" style="width: 507px; height: 130px;" v-model="newCategoryDesc" placeholder="Новое описание" required></textarea>
                <button class="btn btn-primary" type="submit" @click="changeCategoryDesc">Изменить описание</button>
            </form>
        </div>
        <div class="my-2">
            <h3>Добавить брэнд:</h3>
            <form>
                <input type="text" placeholder="Имя" v-model="newBrandName" required>
                <input type="text" placeholder="Сайт" v-model="newBrandSite" required>
                <button class="btn btn-primary mt-2" type="submit" @click="addBrand">Добавить</button>
            </form>
        </div>
        <div>
            <h3>Брэнды:</h3>
            <strong>Выбранный брэнд: {{currBrand.name}}</strong>
            <div>
                <button v-for="brand in brands" @click="selectBrand(brand)" class=" mt-2 mr-1 btn btn-primary">{{brand.name}}</button>
            </div>
        </div>
        <div class="my-2">
            <form>
                <input type="text" placeholder="Новое имя" v-model="BrandNewName">
                <input type="text" placeholder="Новый сайт" v-model="BrandNewSite">
                <button class="btn btn-primary my-2 mr-1" type="submit" @click="changeBrand">Изменть</button>
            </form>
            <button class="btn btn-danger" @click="deleteBrand">Удалить</button>
        </div>
        <div>
            <h3>Инструменты:</h3>
            <div id="tools" class="mt-3">
                <div v-for="tool in tools" class="card">
                    <img class="card-img-top" :src="'/imgs/'+tool.prevImagePath">
                    <div class="card-body">
                        <h4 class="card-title">{{tool.name}}</h4>
                        <p class="card-text">Аренда: {{tool.price}}</p>
                        <p class="card-text">Залог: {{tool.pledge}}</p>
                        <button class="btn btn-primary" @click="editTool(tool.id)">Редактировать</button>
                        <button class="btn btn-primary my-2" @click="detachTool(tool.id)">Отсоединить</button>
                        <button class="btn btn-danger" @click="deleteTool(tool.id)">Удалить</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-primary" @click="addTool">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="shadow"></div>
<div id="addToolModal" class="modal">
    <i>&times;</i>
    <h3>Добавить Инструмент</h3>
    <form method="POST" enctype="multipart/form-data">
        <table class="table">
            <tr>
                <td class="input-group input-group-sm">
                    <input type="text" name="name" class="form-control" placeholder="Название" required/>
                </td>
            </tr>
            <tr>
                <td class="input-group input-group-sm">
                    <select class="custom-select custom-select-sm" name="categoryID" required>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="input-group input-group-sm">
                    <select class="custom-select custom-select-sm" name="brandId" required>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="input-group input-group-sm">
                    <input style="width: 90px" type="text" class="form-control" name="power" placeholder="Мощность" required/>
                </td>
                <td class="input-group input-group-sm">
                    <input style="width: 90px" type="number" class="form-control" min="0" name="weight" placeholder="Вес (кг)" required/>
                </td>
                <td class="input-group input-group-sm">
                    <input style="width: 90px" type="number" class="form-control" min="1" name="quantity" placeholder="Количество" required/>
                </td>
            </tr>
            <tr>
                <td class="input-group input-group-sm">
                    <input style="width: 155px" type="number" class="form-control" min="0" name="price" placeholder="Аренда за день" required/>
                </td>
                <td class="input-group input-group-sm">
                    <input style="width: 155px" type="number" class="form-control" min="0" name="pledge" placeholder="Залог" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea style="width: 335px" class="form-control" placeholder="Описание (html)" name="description" required></textarea>
                </td>
            </tr>
            <tr class="custom-file input-group-sm">
                <td class="custom-file-label">Обложка</td>
                <td><input type="file" class="custom-file-input" name="prevImage" required></td>
            </tr>
            <tr class="custom-file input-group-sm mt-2">
                <td class="custom-file-label">Изображения</td>
                <td><input type="file" class="custom-file-input" name="images" required></td>
            </tr>
            <tr>
                <td class="input-group input-group-sm">
                    <button class="btn btn-primary" type="submit">Отправить</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div id="addCatModal" class="modal">
    <i>&times;</i>
    <h3>Добавить категорию</h3>
    <form method="POST" enctype="multipart/form-data">
        <table class="table">
            <tr>
                <td><input type="text" name="name" placeholder="Имя" required></td>
            </tr>
            <tr>
                <td><input type="file" name="file" required></td>
            </tr>
            <tr>
                <td><textarea name="description" placeholder="Описание (html)" required></textarea></td>
            </tr>
            <tr>
                <td><button class="btn btn-primary" type="submit">Отправить</button></td>
            </tr>
        </table>
    </form>
</div>
<th:block th:include="_footer"></th:block>
<link href="/css/admin.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>
<script src="/js/admin.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/jstree.min.js" integrity="sha256-NPMXVob2cv6rH/kKUuzV2yXKAQIFUzRw+vJBq4CLi2E=" crossorigin="anonymous"></script>
</html>