<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="_header"></th:block>
<section id="path">
    <div>
        <a th:href="@{/}">Главная</a>
        <a th:if="${path != null}" th:each="pathEl:${path}" th:href="${pathEl.second}" th:text="'/'+${pathEl.first}"></a>
    </div>
</section>
<section id="main-container" class="catalog-margin">
    <div th:if="${categories != null}" th:each="cat:${categories}" class="catalog-item">
        <a th:href="@{${#request.requestURI}+'?cat='+${queryStr}+','+${cat.id}}">
            <div>
                <img class="img-fluid" th:src="@{'/imgs/'+${cat.image}}">
            </div>
            <div class="mt-2">
                <b th:text="${cat.name}"></b>
            </div>
        </a>
    </div>
    <div>
        <div th:utext="${catDesc}" class="my-3"></div>
        <div th:if="${tools != null}" th:each="tool:${tools}" class="catalog-item" th:attr="data-tool=${tool.id}">
            <div>
                <a th:href="@{'/tool/'+${tool.id}+'?cat='+${queryStr}}">
                    <div style="height: 150px;">
                        <img class="img-fluid" th:src="@{'/imgs/'+${tool.prevImagePath}}">
                    </div>
                    <div class="my-2">
                        <span class="name" th:text="${tool.name}"></span>
                    </div>
                </a>
                <div>
                    <div class="bigger" th:utext="'<b>'+${tool.price}+'</b> руб/сутки'"></div>
                    <div class="bigger" th:utext="'Залог <b>'+${tool.pledge}+'</b> руб'"></div>
                    <div class="my-2" style="color: dimgrey" th:utext="'В наличии <b>'+${tool.quantity}+'</b> шт.'"></div>
                    <button class="btn btn-primary addToCart"><i class="fas fa-shopping-cart"></i> Арендовать</button>
                </div>
            </div>
        </div>
    </div>
    <div id="searchEmpty" th:if="${toolsEmpty == true}">
        <h4>Ничего не найдено</h4>
    </div>
</section>
<link href="/css/catalog.css" type="text/css" rel="stylesheet">
<th:block th:include="_footer"></th:block>
</html>