<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="_header"></th:block>
<section id="main-container">
    <th:block th:include="_slider"></th:block>
    <div th:if="${categories != null}" th:each="cat:${categories}" class="catalog-item">
        <a th:href="@{${#request.requestURI}+'?cat='+${queryStr}+','+${cat.id}}">
            <div>
                <img class="img-fluid" th:src="@{'/imgs/'+${cat.image}}">
            </div>
            <div>
                <span th:text="${cat.name}"></span>
            </div>
        </a>
    </div>
    <div th:if="${tools != null}" th:each="tool:${tools}" class="catalog-item">
        <a th:href="@{'/tool/'+${tool.id}}">
            <div>
                <img class="img-fluid" th:src="@{'/imgs/'+${tool.prevImagePath}}">
            </div>
            <div>
                <span th:text="${tool.name}"></span>
            </div>
        </a>
    </div>
</section>
<link href="/css/catalog.css" type="text/css" rel="stylesheet">
<th:block th:include="_footer"></th:block>
</html>