<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="_header"></th:block>
<section id="main-container" class="mt-3">
    <h2 class="center">Особенно мы ценим и дорожим крепкими отношениями с корпоративными клиентами, мы уже сотрудничаем со следующими организациями:</h2>
    <th:block th:include="_slider"></th:block>
    <ul class='slide-buttons'></ul>
    <h2>Порядок работы с Юридическими лицами:</h2>
    <ol>
        <li>Для оформления договора аренды юридическим лицам необходимо предоставить свои реквизиты и список необходимого оборудования по адресу <b>rioprokat@gmail.com</b></li>
        <li>Далее мы Выставляем счёт на оплату с указанием срока оплаты и высылаем его вместе с Договором аренды по электронной почте</li>
        <li>Необходимо в срок оплатить счёт, распечатать и подписать Договор аренды, поставить печать организации и передать нашему представителю.</li>
        <li>Мы работаем <b>без НДС.</b></li>
    </ol>
    <h2>Аренда оборудования у нас даёт возможность:</h2>
    <ol>
        <li>Обеспечить ваши объекты необходимым дорогостоящим инструментом и оборудованием</li>
        <li>Избежать ненужных затрат на закупку, длительное хранение, перемещение и обслуживание оборудования.</li>
        <li>Выбрать именно тот инструмент, который вам нужен, не беспокоясь о его стоимости;</li>
        <li>Избежать простоев и снижения темпов строительства.</li>
        <li>Проверить оборудование на практике перед покупкой.</li>
    </ol>
</section>
<th:block th:include="_footer"></th:block>
<style>
    #main-container{
        padding: 30px;
        display: block;
    }
    #main-banner{
        margin: auto;
    }
</style>
<script>
    $('#catalog').slideUp()
</script>
</html>