<th:block inc
  <section id="first-container">
    <div id="nav-first" class="row show-for-desktop">
      <div>
        <i class="fas fa-map-marker-alt"></i> Ваш город: <a href="#"> Санкт-Петербург</a>
      </div>
      <div>
        <a href="#"> Пункты выдачи</a>
      </div>
      <ul class="float-right list-unstyled list-inline">
        <li class="list-inline-item"><a href="#">Условия аренды</a></li>
        <li class="list-inline-item"><a href="#">Доставка</a></li>
        <li class="list-inline-item"><a href="#">О нас</a></li>
      </ul>
    </div>
  </section>
  <hr>
  <section id='second-container'>
    <div id="nav-second" class="row show-for-desktop">
      <div>
        <a href="#"><img src="/imgs/logo.png" class="img-responsive"></a>
      </div>
      <div>
            <pre>
    Быстрая досавка
        готовых решений!
            </pre>
      </div>
      <div>
        <a href="#"><h5>+7 (499) 427-08-00</h5></a>
        <pre>
    пн.-пт. 9:00-19:00
    сб. 9:00-18:00
            </pre>
      </div>
      <div>
        <i class="fas fa-user fa-2x"></i><a href="#"> Вход</a> | <a href="#">Регистрация</a>
      </div>
    </div>
  </section>
  <section  id='third-container' class="show-for-desktop">
    <div>
      <div id="nav-third" class="show-for-desktop">
        <div class="catalog"><i class="fas fa-bars"></i> Каталог товаров</div>
        <span><i class="fas fa-percent"></i><a href="#"> Акции  </a></span>
        <div class="input-group input-group-sm show-for-desktop">
          <input type="text" class="form-control" placeholder="Что вы хотите взять в аренду?">
          <div class="input-group-append">
            <a href="#" class="nav-link input-group-text"><i class="fas fa-search"></i></a>
          </div>
        </div>
        <span>
                <i class="fas fa-shopping-cart"></i>
                <a href="#"> В корзине: </a><span class='cart'>нет товаров</span>
            </span>
      </div>
    </div>
  </section>
  <section id="main-container">
    <div id="catalog" class="show-for-desktop">
      <ul class="list-unstyled">
        <li><a href="#"><i class="fas fa-tools"></i> Инструмент</a></li>
        <li><a href="#"><i class="fas fa-tools"></i> Инструмент</a></li>
        <li><a href="#"><i class="fas fa-tools"></i> Инструмент</a></li>
        <li><a href="#"><i class="fas fa-tools"></i> Инструмент</a></li>
      </ul>
    </div>
    <div id="main-banner">
      <div class="wrapper">
        <ul class="list-unstyled list-inline">
          <li><a href="#">
            <img class='img-responsive' src="/imgs/landscape-02.jpg">
          </a></li>
          <li><a href="#">
            <img src="/imgs/landscape-03.jpg">
          </a></li>
          <li><a href="#">
            <img src="/imgs/landscape-04.jpg">
          </a></li>
          <li><a href="#">
            <img src="/imgs/landscape-05.jpg">
          </a></li>
        </ul>
      </div>
    </div>
    <ul class="banner-btns"></ul>
    <div class="row mobile-tools-menu hide-for-desktop">
      <div class="col col-sm-4"><a href="#">
        <img class="img-responsive" src="/imgs/electroinstument.jpg">
        <span>Электроинструменты</span>
      </a></div>
      <div class="col col-sm-4"><a href="#">
        <img class="img-responsive" src="/imgs/benzoinstrument.jpg">
        <span>Бензоинструменты</span>
      </a></div>
      <div class="col col-sm-4"><a href="#">
        <img class="img-responsive" src="/imgs/beton.jpg">
        <span>Строительное оборудование</span>
      </a></div>
      <div class="col col-sm-4"><a href="#">
        <img class="img-responsive" src="/imgs/klining.jpg">
        <span>Клининговое и климатическое оборудование</span>
      </a></div>
      <div class="col col-sm-4"><a href="#">
        <img class="img-responsive" src="/imgs/silovaya.jpg">
        <span>Силовая техника</span>
      </a></div>
      <div class="col col-sm-4"><a href="#">
        <img class="img-responsive" src="/imgs/rashodniki.jpg">
        <span>Расходные материалы</span>
      </a></div>
    </div>
    <h3 class="leaders">Лидеры проката</h3>

    <div id="leaders" class="hide-for-desktop">
      <div>
        <div class="image">
          <img src='/imgs/cat.jpg' class="img-responsive">
        </div>
        <div class="text">
          <h5>Бензиновый генератор</h5>
          <pre>
        Мощность 1000лс
        уровень шума 100дц
                </pre>
          <h5>От 1500 руб/сутки</h5>
          <button class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Арендовать</button>
        </div>
      </div>
      <div>
        <div class="image">
          <img src='/imgs/cat.jpg' class="img-responsive">
        </div>
        <div class="text">
          <h5>Бензиновый генератор</h5>
          <pre>
        Мощность 1000лс
        уровень шума 100дц
                </pre>
          <h5>От 1500 руб/сутки</h5>
          <button class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Арендовать</button>
        </div>
      </div>
      <div>
        <div class="image">
          <img src='/imgs/cat.jpg' class="img-responsive">
        </div>
        <div class="text">
          <h5>Бензиновый генератор</h5>
          <pre>
        Мощность 1000лс
        уровень шума 100дц
                </pre>
          <h5>От 1500 руб/сутки</h5>
          <button class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Арендовать</button>
        </div>
      </div>
      <div>
        <div class="image">
          <img src='/imgs/cat.jpg' class="img-responsive">
        </div>
        <div class="text">
          <h5>Бензиновый генератор</h5>
          <pre>
        Мощность 1000лс
        уровень шума 100дц
                </pre>
          <h5>От 1500 руб/сутки</h5>
          <button class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Арендовать</button>
        </div>
      </div>
    </div>
    <div id="leaders-desktop" class="show-for-desktop">
      <a href="#" class="arrow-left"><i class="fas fa-arrow-left"></i></a>
      <a href="#" class="arrow-right"><i class="fas fa-arrow-right"></i></a>
      <ul class="list-unstyled">
        <li><a href="#"><div class="hit">Хит</div><img src="/imgs/cat.jpg" class="img-responsive"></a></li>
        <li><span>Бензиновый генератор</span></a></li>
        <li><span class="props">8Квт, 6.4Квт, 100 Дцб</span></li>
        <li><i class="fas fa-map-marker-alt"> Самовывоз:  </i><span class="pick-date">сегодня</span></li>
        <li><i class="fas fa-car"> Доставка:  </i><span class="delivery-date">завтра</span></li>
        <hr>
        <li class="price-li">От <span class="price">1500</span> руб/сутки</li>
        <li><button class="btn btn-primary btn-block">Арендовать</button></li>
        <li><button class="btn btn-outline-primary btn-block">Быстрый заказ</button></li>
      </ul>
      <ul class="list-unstyled">
        <li><a href="#"><div class="hit">Хит</div><img src="/imgs/cat.jpg" class="img-responsive"></a></li>
        <li><span>Бензиновый генератор</span></a></li>
        <li><span class="props">8Квт, 6.4Квт, 100 Дцб</span></li>
        <li><i class="fas fa-map-marker-alt"> Самовывоз:  </i><span class="pick-date">сегодня</span></li>
        <li><i class="fas fa-car"> Доставка:  </i><span class="delivery-date">завтра</span></li>
        <hr>
        <li class="price-li">От <span class="price">1500</span> руб/сутки</li>
        <li><button class="btn btn-primary btn-block">Арендовать</button></li>
        <li><button class="btn btn-outline-primary btn-block">Быстрый заказ</button></li>
      </ul>
      <ul class="list-unstyled">
        <li><a href="#"><div class="hit">Хит</div><img src="/imgs/cat.jpg" class="img-responsive"></a></li>
        <li><a><span>Бензиновый генератор</span></a></li>
        <li><span class="props">8Квт, 6.4Квт, 100 Дцб</span></li>
        <li><i class="fas fa-map-marker-alt"> Самовывоз:  </i><span class="pick-date">сегодня</span></li>
        <li><i class="fas fa-car"> Доставка:  </i><span class="delivery-date">завтра</span></li>
        <hr>
        <li class="price-li">От <span class="price">1500</span> руб/сутки</li>
        <li><button class="btn btn-primary btn-block">Арендовать</button></li>
        <li><button class="btn btn-outline-primary btn-block">Быстрый заказ</button></li>
      </ul>
      <ul class="list-unstyled">
        <li><a href="#"><div class="hit">Хит</div><img src="/imgs/cat.jpg" class="img-responsive"></li>
        <li><span>Бензиновый генератор</span></a></li>
        <li><span class="props">8Квт, 6.4Квт, 100 Дцб</span></li>
        <li><i class="fas fa-map-marker-alt"> Самовывоз:  </i><span class="pick-date">сегодня</span></li>
        <li><i class="fas fa-car"> Доставка:  </i><span class="delivery-date">завтра</span></li>
        <hr>
        <li class="price-li">От <span class="price">1500</span> руб/сутки</li>
        <li><button class="btn btn-primary btn-block">Арендовать</button></li>
        <li><button class="btn btn-outline-primary btn-block">Быстрый заказ</button></li>
      </ul>
      <ul class="list-unstyled">
        <li><a href="#"><div class="hit">Хит</div><img src="/imgs/cat.jpg" class="img-responsive"></a></li>
        <li><span>Бензиновый генератор</span></a></li>
        <li><span class="props">8Квт, 6.4Квт, 100 Дцб</span></li>
        <li><i class="fas fa-map-marker-alt"> Самовывоз:  </i><span class="pick-date">сегодня</span></li>
        <li><i class="fas fa-car"> Доставка:  </i><span class="delivery-date">завтра</span></li>
        <hr>
        <li class="price-li">От <span class="price">1500</span> руб/сутки</li>
        <li><button class="btn btn-primary btn-block">Арендовать</button></li>
        <li><button class="btn btn-outline-primary btn-block">Быстрый заказ</button></li>
      </ul>
    </div>

    <div id="show-more" class="hide-for-desktop">
      <button class="btn btn-outline-primary">Показать ещё</button>
    </div>
  </section>
  <section id="advantages">
    <h3>4 причины воспользоваться услугой аренды</h3>
    <div class="row">
      <div class="col-6 col-sm-6 offset-lg-2 col-lg-2">
        <a href="#"><img src="/imgs/assortiment.jpg" class="img-responsive">
          <div>Широкий ассортимент оборудования: от шуруповёрта до бетономешалки</div></a>
      </div>
      <div class="col-6 col-sm-6 col-lg-2">
        <a href="#"><img src="/imgs/dostavka.jpg" class="img-responsive">
          <div>Срочная доставка по Санкт-Петербургу и Лен.области</div></a>
      </div>
      <div class="col-6 col-sm-6 col-lg-2">
        <a href="#"><img src="/imgs/nasvyasy.jpg" class="img-responsive">
          <div>Горячая линия 24/7 по любым техническим вопросам</div></a>
      </div>
      <div class="col-6 col-sm-6 col-lg-2">
        <a href="#"><img src="/imgs/partnerstvo.jpg" class="img-responsive">
          <div>Мы дорожим крепкими отношениями со своими клиентами</div></a>
      </div>
    </div>
  </section>
  <th:block 