<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="_header"></th:block>
<section id="main-container">
    <th:block th:include="_slider"></th:block>
    <div class="row mobile-tools-menu hide-for-desktop">
        <div class="col col-sm-4" th:each="cat:${session.categories}"><a th:href="@{'/catalog?cat=' + ${cat.id}}">
            <img class="img-responsive" th:src="@{'/imgs/'+${cat.image}}">
            <span th:text="${cat.name}">Электроинструменты</span>
        </a></div>
    </div>
    <h3 class="leaders">Лидеры проката</h3>
    <div id="leaders" class="hide-for-desktop">
        <div th:each="tool:${topTools}">
            <div class="image">
                <a th:href="@{'/tool/'+${tool.id}}"><img th:src="@{'/imgs/'+${tool.prevImagePath}}" class="img-responsive"></a>
            </div>
            <div class="text">
                <h5 th:text="${tool.name}">Бензиновый генератор</h5>
                <pre th:text="${tool.power}">
        Мощность 1000лс
        уровень шума 100дц
                </pre>
                <h5>От <span th:text="${tool.price}">1500</span> руб/сутки</h5>
                <button class="btn btn-primary"><i class="fas fa-shopping-cart addToCart"></i> Арендовать</button>
            </div>
        </div>
    </div>
    <div id="leaders-desktop" class="show-for-desktop">
        <a href="#" class="arrow-left"><i class="fas fa-arrow-left"></i></a>
        <a href="#" class="arrow-right"><i class="fas fa-arrow-right"></i></a>
        <ul class="list-unstyled" th:attr="data-tool=${tool.id}" th:each="tool:${topTools}">
            <li><a th:href="@{'/tool/'+${tool.id}}">
                <div class="hit">Хит</div>
                <img th:src="@{'/imgs/'+${tool.prevImagePath}}" class="img-responsive"></a></li>
            <li><span th:text="${tool.name}">Бензиновый генератор</span></a></li>
            <li><span class="props" th:text="${tool.power}">8Квт, 6.4Квт, 100 Дцб</span></li>
            <li><i class="fas fa-map-marker-alt"> Самовывоз: </i><span class="pick-date">сегодня</span></li>
            <li><i class="fas fa-car"> Доставка: </i><span class="delivery-date">завтра</span></li>
            <hr>
            <li class="price-li">От <span class="price" th:text="${tool.price}">1500</span> руб/сутки</li>
            <li>
                <button class="btn btn-primary btn-block addToCart">Арендовать</button>
            </li>
            <li>
                <button class="btn btn-outline-primary btn-block quickBuy">Быстрый заказ</button>
            </li>
        </ul>
    </div>
    <div id="show-more" class="hide-for-desktop">
        <button class="btn btn-outline-primary">Показать ещё</button>
    </div>
</section>
<section id="advantages">
    <h3 class="mt-3">4 причины воспользоваться услугой аренды</h3>
    <div class="row">
        <div class="col-6 col-sm-6 offset-lg-2 col-lg-2">
            <a href="#"><img src="/imgs/assortiment.jpg" class="img-responsive">
                <div>Широкий ассортимент оборудования: от шуруповёрта до бетономешалки</div>
            </a>
        </div>
        <div class="col-6 col-sm-6 col-lg-2">
            <a href="#"><img src="/imgs/dostavka.jpg" class="img-responsive">
                <div>Срочная доставка по Санкт-Петербургу и Лен.области</div>
            </a>
        </div>
        <div class="col-6 col-sm-6 col-lg-2">
            <a href="#"><img src="/imgs/nasvyasy.jpg" class="img-responsive">
                <div>Горячая линия 24/7 по любым техническим вопросам</div>
            </a>
        </div>
        <div class="col-6 col-sm-6 col-lg-2">
            <a href="#"><img src="/imgs/partnerstvo.jpg" class="img-responsive">
                <div>Мы дорожим крепкими отношениями со своими клиентами</div>
            </a>
        </div>
    </div>
</section>
<th:block th:include="_footer"></th:block>
</html>