<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="_header"></th:block>
<section id="main-container">
    <th:block th:include="_slider"></th:block>
    <h2 class="mt-3">Корзина</h2>
    <form class="mt-3" th:action="@{/order}" th:if="${session.order!=null}" method="post" th:object="${form}">
        <table class="table table-sm" cellspacing="3">
            <tr class="tool" th:each="pair:${session.order.uniqtools}" th:attr="data-tool=${pair.first.id}">
                <td><span th:text="${pair.first.name}">Перфоратор Bosh 10 Wt</span></td>
                <td>Количество:
                    <span class="quantity" th:text="@{'  '+${pair.second}}"></span>
                    <button type="button" class="btn btn-primary btn-quantity btn-dec">-</button>
                    <button type="button" class="btn btn-primary btn-quantity btn-inc">+</button>
                </td>
            </tr>
            <tr>
                <td><label for="date">Дата:</label></td>
                <td><input type="text" id="date" class="form-control form-control-sm date" th:field="*{date}"></td>
                <td><span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"
                          class="error">..</span></td>
            </tr>
            <tr>
                <td><label for="fordays">Кол-во дней:</label></td>
                <td><input type="number" id="fordays" class="form-control form-control-sm" th:field="*{fordays}"></td>
                <td><span th:if="${#fields.hasErrors('fordays')}" th:errors="*{fordays}"
                          class="error">..</span></td>
            </tr>
            <tr>
                <td><label for="address">Адрес:</label></td>
                <td><input type="text" id="address" class="form-control form-control-sm" th:field="*{address}"></td>
                <td><span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                          class="error">..</span></td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary">Заказать</button>
                </td>
            </tr>
        </table>
    </form>
</section>
<script>

</script>
<link href="/css/order.css" type="text/css" rel="stylesheet">
<th:block th:include="_footer"></th:block>
</html>