<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>3D Builder</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/portfolio.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/modules.css}">
</head>
<body>
<header class="dark">
    <h2>Welcome to the 3D Builder</h2>
</header>
<th:block th:include="/_topMenu"></th:block>
<th:block th:include="/_menu"></th:block>
<div id="body" class="ligth">
    <h3>Our masterpieces:</h3>
    <div id="images">
        <div th:each="image:${images}">
            <img th:src="${image}">
        </div>
    </div>
</div>
<th:block th:include="/_footer"></th:block>
</body>
</html>
