<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Make order on 3D Builder</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/recentorder.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/modules.css}">
</head>
<body>
<header class="dark">
    <h2>Recent orders on 3D Builder</h2>
</header>
<th:block th:include="/_topMenu"></th:block>
<th:block th:include="/_menu"></th:block>
<div id="body" class="ligth">
    <table id="orders">
        <tr th:each="order:${orders}">
            <td class="text">Order number:</td>
            <td th:text="${order.id}">id</td>
            <td class="text">Address:</td>
            <td th:text="${order.address}">Address</td>
            <td class="text">Date:</td>
            <td th:text="${order.date}">Date</td>
            <td class="text">Is done:</td>
            <td th:text="${order.isdone}">Is done</td>
        </tr>
    </table>
</div>
<th:block th:include="/_footer"></th:block>
</body>
</html>
