<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="_header"></th:block>
<section id="main-container" class="mt-3">
    <h2 class="center">Получение оборудования</h2>
    <ol>
        <li>Выяснить по телефону о наличии необходимого оборудования на складе и забронировать его, обговорить сумму и срок аренды.</li>
        <li>Прибыть с паспортом в наш офис по адресу: Санкт-Петербург, пр.Ветеранов, 147"в".</li>
        <li>Выбрать необходимое оборудование , проверить работоспособность и убедиться в его чистоте.</li>
        <li>Заключить Договор аренды, Акт приёма оборудования, внести залог и сумму аренды.</li>
        <li>Получить вводный инструктаж об использовании оборудования.</li>
        <li>Самостоятельно найти и изучить инструкцию на данное оборудование. При работе соблюдать технику безопасности и использовать оборудование строго в соответствии с его назначением.</li>
    </ol>
    <h2 class="center">Возврат оборудования</h2>
    <ol>
        <li>Позвонить и согласовать время Вашего приезда для возврата оборудования.</li>
        <li>Прибыть с оборудованием на склад по адресу: Санкт-Петербург, пр.Ветеранов, 184.</li>
        <li>Предоставить оборудование для проверки его работоспособности и чистоты. </li>
        <li>Подписать Акт возврата оборудования и получить назад Залоговую сумму.</li>
    </ol>
</section>
<th:block th:include="_footer"></th:block>
<style>
    #main-container{
        padding: 30px;
        display: block;
    }
</style>
<script>
    $('#catalog').slideUp()
</script>
</html>