<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="_header"></th:block>
<section id="path">
    <div>
        <a th:href="@{/}">Главная</a>
        <a th:if="${path != null}" th:each="pathEl:${path}" th:href="${pathEl.second}" th:text="'/'+${pathEl.first}"></a>
    </div>
</section>
<section id="main-container">
    <div class="row">
        <div class="col col-md-4 mt-3" th:attr="data-tool=${tool.id}">
            <div id="toolPreview">
                <div>
                    <a data-fancybox="tools" th:href="@{'/imgs/'+${tool.prevImagePath}}">
                        <img style="width:100%" th:src="@{'/imgs/'+${tool.prevImagePath}}">
                    </a>
                </div>
                <h4 class="mt-2" id="toolName" th:text="${tool.name}"></h4>
                <div class="thumbnails">
                    <a th:if="${tool.image1Path}!=null" data-fancybox="tools" th:href="@{'/imgs/'+${tool.image1Path}}">
                        <img th:src="@{'/imgs/'+${tool.image1Path}}">
                    </a>
                    <a th:if="${tool.image2Path}!=null" data-fancybox="tools" th:href="@{'/imgs/'+${tool.image2Path}}">
                        <img th:src="@{'/imgs/'+${tool.image2Path}}">
                    </a>
                    <a th:if="${tool.image3Path}!=null" data-fancybox="tools" th:href="@{'/imgs/'+${tool.image3Path}}">
                        <img th:src="@{'/imgs/'+${tool.image3Path}}">
                    </a>
                </div>
                <table class="table table-sm">
                    <tr>
                        <td>Бренд:</td>
                        <td th:text="${tool.brand.name}"></td>
                    </tr>
                    <tr>
                        <td>Мощность:</td>
                        <td th:text="${tool.power}"></td>
                    </tr>
                    <tr>
                        <td>Вес:</td>
                        <td th:text="${tool.weight}"></td>
                    </tr>
                    <tr>
                        <td>Аренда:</td>
                        <td th:text="${tool.price}"></td>
                    </tr>
                    <tr>
                        <td>Залог:</td>
                        <td th:text="${tool.pledge}"></td>
                    </tr>
                    <tr>
                        <td>В наличии:</td>
                        <td th:text="${available}"></td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-primary addToCart"><i class="fas fa-shopping-cart"></i> Арендовать</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col col-md-8 mt-3">
            <div id="toolInfo" th:utext="${tool.description}"></div>
        </div>
    </div>
</section>
<link href="/css/tool.css" type="text/css" rel="stylesheet">
<div id="shadow"></div>
<div id="slider">
    <div></div>
</div>
<th:block th:include="_footer"></th:block>
<style>
    div.thumbnails{
        text-align: center;
    }
    div.thumbnails img{
        padding: 10px;
        max-width: 30%;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script>
    $('#catalog').slideUp()
</script>
</html>